<ul class="nav">
  <% if user_signed_in? %>
    <li>
    Logged in as <%= current_user.name %>
    </li>
    <li>
    <%= link_to 'Logout', signout_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Zaloguj przez facebook', signin_path %>
    </li>
    <li>
    <%= link_to 'Zaloguj przez github', '/auth/github' %>
    </li>
  <% end %>
</ul>
